*{padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    
}
header{

}
.Wallet ul{list-style: none;
    display: flex;justify-content: center;gap: 20px;
}
.Wallet button{
    background-color: yellow;border-color: white;
    position: relative;left: 50px;
}
.titulo{
display: flex;gap: 300px;
}
.titulo img{
    filter:drop-shadow(10px 10px 5px)
}

h1{
    width: 150px;font-size: 40px;
}

.NFT p{
    width: 300px; font-size: 10px;}
.NFT button{
    border: 1px solid black;background-color: black;color: white;
}

.Criptos{text-align: center;background-color: black;
    color: white;height: 200px;position: relative;top: 50px;border: 10px solid grey;    
}
.Criptos h2{
    font-size: 35px;
}
.Criptos ul{list-style: none;display: flex;gap: 50px;justify-content: center;
    position: relative;top: 100px;
    
}
.Digitaleyes{
    position: relative;top: 100px;
}
.Digitaleyes{
    background-color: black;color: white;height: 200px;text-align: center;
    border: 10px solid grey;
}
.Digitaleyes ul{
    display: flex;list-style: none;gap: 50px;justify-content: center;position: relative;top: 100px;
}
 
